<h2 id="title">Welcome to Ember</h2>

<fieldset>
  <label>DEMO</label>
  Try pressing tab/shift+tab/up/down/alt+tab
  <FocusTrap>
    <input>
    <textarea/>
    <button type="button"></button>
    <a href=""></a>
    <select></select>
  </FocusTrap>
</fieldset>

{{outlet}}
