<h2 id="title">Welcome to Ember</h2>

<fieldset>
  <label>DEMO</label>

  <FocusTrap>
    <input>
    <textarea/>
    <button></button>
    <a></a>
    <select></select>
  </FocusTrap>
</fieldset>

{{outlet}}
